In [1]:
import pandas as pd
import eurostat

# Import data using the Eurostat API
data = eurostat.get_data_df('TOUR_CE_OMN12')

#Drop columns'freq','unit'
data.drop(columns=['freq','unit'], errors='ignore', inplace=True)

#add column geo_layer to label geographic regions (NUTS codes).
df = pd.DataFrame(data)
df['geo_layer'] = df['geo\TIME_PERIOD'].apply(lambda x: 'NUT1' if len(x) == 3 else ('NUT2' if len(x) == 4 else ('Country' if len(x) == 2 else '[EU27_2020]')))
#put column "geo" besides column "geo_layer" 
col_order = ['geo\TIME_PERIOD', 'geo_layer'] + [col for col in df.columns if col not in ['geo\TIME_PERIOD', 'geo_layer']]
df = df[col_order]

#Drop row where 'c_resid' and 'month' value is total
df = df[df['c_resid'] != 'TOTAL']
df = df[df['month'] != 'TOTAL']

#Change colomn label for 'geo\TIME_PERIOD' to 'geo'
df.columns.values[df.columns.get_loc('geo\TIME_PERIOD')] = 'geo'

long_df = pd.melt(df, id_vars=['geo', 'geo_layer', 'indic_to', 'c_resid', 'month'], value_vars=['2018', '2019', '2020', '2021', '2022', '2023', '2024'], var_name='Year', value_name='Value')

In [2]:
#check all parameter in dataset
import eurostat
pars = eurostat.get_pars('TOUR_CE_OMN12')
pars

['freq', 'indic_to', 'c_resid', 'month', 'unit', 'geo']

In [3]:
#check whether there's special character like space in the value of dataset

print("Unique values in 'indic_to' column:", data['indic_to'].unique())
print("Unique values in 'c_resid' column:", data['c_resid'].unique())
print("Unique values in 'month' column:", data['month'].unique())
print("Unique values in 'TIME_PERIOD' column:", data['geo\TIME_PERIOD'].unique())

Unique values in 'indic_to' column: ['LSTY' 'NGT_SP' 'STY']
Unique values in 'c_resid' column: ['DOM' 'FOR' 'TOTAL']
Unique values in 'month' column: ['M01' 'M02' 'M03' 'M04' 'M05' 'M06' 'M07' 'M08' 'M09' 'M10' 'M11' 'M12'
 'TOTAL']
Unique values in 'TIME_PERIOD' column: ['AT' 'AT1' 'AT11' 'AT12' 'AT13' 'AT2' 'AT21' 'AT22' 'AT3' 'AT31' 'AT32'
 'AT33' 'AT34' 'BE' 'BE1' 'BE10' 'BE2' 'BE21' 'BE22' 'BE23' 'BE24' 'BE25'
 'BE3' 'BE31' 'BE32' 'BE33' 'BE34' 'BE35' 'BG' 'BG3' 'BG31' 'BG32' 'BG33'
 'BG34' 'BG4' 'BG41' 'BG42' 'CH' 'CH0' 'CH01' 'CH02' 'CH03' 'CH04' 'CH05'
 'CH06' 'CH07' 'CY' 'CY0' 'CY00' 'CZ' 'CZ0' 'CZ01' 'CZ02' 'CZ03' 'CZ04'
 'CZ05' 'CZ06' 'CZ07' 'CZ08' 'DE' 'DE1' 'DE11' 'DE12' 'DE13' 'DE14' 'DE2'
 'DE21' 'DE22' 'DE23' 'DE24' 'DE25' 'DE26' 'DE27' 'DE3' 'DE30' 'DE4'
 'DE40' 'DE5' 'DE50' 'DE6' 'DE60' 'DE7' 'DE71' 'DE72' 'DE73' 'DE8' 'DE80'
 'DE9' 'DE91' 'DE92' 'DE93' 'DE94' 'DEA' 'DEA1' 'DEA2' 'DEA3' 'DEA4'
 'DEA5' 'DEB' 'DEB1' 'DEB2' 'DEB3' 'DEC' 'DEC0' 'DED' 'DED2' 'DED4' 'DED5'
 'DEE' 'DEE0' 'DEF' 'DEF0' 'DEG' 'DEG0' 'DK' 'DK0' 'DK01' 'DK02' 'DK03'
 'DK04' 'DK05' 'EE' 'EE0' 'EE00' 'EL' 'EL3' 'EL30' 'EL4' 'EL41' 'EL42'
 'EL43' 'EL5' 'EL51' 'EL52' 'EL53' 'EL54' 'EL6' 'EL61' 'EL62' 'EL63'
 'EL64' 'EL65' 'ES' 'ES1' 'ES11' 'ES12' 'ES13' 'ES2' 'ES21' 'ES22' 'ES23'
 'ES24' 'ES3' 'ES30' 'ES4' 'ES41' 'ES42' 'ES43' 'ES5' 'ES51' 'ES52' 'ES53'
 'ES6' 'ES61' 'ES62' 'ES63' 'ES64' 'ES7' 'ES70' 'EU27_2020' 'FI' 'FI1'
 'FI19' 'FI1B' 'FI1C' 'FI1D' 'FI2' 'FI20' 'FR' 'FR1' 'FR10' 'FRB' 'FRB0'
 'FRC' 'FRC1' 'FRC2' 'FRD' 'FRD1' 'FRD2' 'FRE' 'FRE1' 'FRE2' 'FRF' 'FRF1'
 'FRF2' 'FRF3' 'FRG' 'FRG0' 'FRH' 'FRH0' 'FRI' 'FRI1' 'FRI2' 'FRI3' 'FRJ'
 'FRJ1' 'FRJ2' 'FRK' 'FRK1' 'FRK2' 'FRL' 'FRL0' 'FRM' 'FRM0' 'FRY' 'FRY1'
 'FRY2' 'FRY3' 'FRY4' 'FRY5' 'HR' 'HR0' 'HR02' 'HR03' 'HR05' 'HR06' 'HU'
 'HU1' 'HU11' 'HU12' 'HU2' 'HU21' 'HU22' 'HU23' 'HU3' 'HU31' 'HU32' 'HU33'
 'IE' 'IE0' 'IE04' 'IE05' 'IE06' 'IS' 'IS0' 'IS00' 'IT' 'ITC' 'ITC1'
 'ITC2' 'ITC3' 'ITC4' 'ITF' 'ITF1' 'ITF2' 'ITF3' 'ITF4' 'ITF5' 'ITF6'
 'ITG' 'ITG1' 'ITG2' 'ITH' 'ITH1' 'ITH2' 'ITH3' 'ITH4' 'ITH5' 'ITI' 'ITI1'
 'ITI2' 'ITI3' 'ITI4' 'LI' 'LI0' 'LI00' 'LT' 'LT0' 'LT01' 'LT02' 'LU'
 'LU0' 'LU00' 'LV' 'LV0' 'LV00' 'MT' 'MT0' 'MT00' 'NL' 'NL1' 'NL11' 'NL12'
 'NL13' 'NL2' 'NL21' 'NL22' 'NL23' 'NL3' 'NL31' 'NL32' 'NL33' 'NL34' 'NL4'
 'NL41' 'NL42' 'NO' 'NO0' 'NO02' 'NO06' 'NO07' 'NO08' 'NO09' 'NO0A' 'PL'
 'PL2' 'PL21' 'PL22' 'PL4' 'PL41' 'PL42' 'PL43' 'PL5' 'PL51' 'PL52' 'PL6'
 'PL61' 'PL62' 'PL63' 'PL7' 'PL71' 'PL72' 'PL8' 'PL81' 'PL82' 'PL84' 'PL9'
 'PL91' 'PL92' 'PT' 'PT1' 'PT11' 'PT15' 'PT16' 'PT17' 'PT18' 'PT2' 'PT20'
 'PT3' 'PT30' 'RO' 'RO1' 'RO11' 'RO12' 'RO2' 'RO21' 'RO22' 'RO3' 'RO31'
 'RO32' 'RO4' 'RO41' 'RO42' 'SE' 'SE1' 'SE11' 'SE12' 'SE2' 'SE21' 'SE22'
 'SE23' 'SE3' 'SE31' 'SE32' 'SE33' 'SI' 'SI0' 'SI03' 'SI04' 'SK' 'SK0'
 'SK01' 'SK02' 'SK03' 'SK04']

In [4]:
#Check null value amount for each column
null_counts = long_df.isnull().sum()
print(null_counts)

geo              0
geo_layer        0
indic_to         0
c_resid          0
month            0
Year             0
Value        20886
dtype: int64

In [5]:
#Analyse null value distribution
#most of null value are in 2024,so we will not cover 2024 for later analyse
#For year 2018-2024,the null value amount is small, so we will drop it for later analyse

rows_2024 = long_df[long_df['Year'] == '2024']
rows_2023 = long_df[long_df['Year'] == '2023']
rows_2022 = long_df[long_df['Year'] == '2022']
rows_2021 = long_df[long_df['Year'] == '2021']
rows_2020 = long_df[long_df['Year'] == '2020']
rows_2019 = long_df[long_df['Year'] == '2019']
rows_2018 = long_df[long_df['Year'] == '2018']
missing_value_count_2024 = rows_2024['Value'].isna().sum()
missing_value_count_2023 = rows_2023['Value'].isna().sum()
missing_value_count_2022 = rows_2022['Value'].isna().sum()
missing_value_count_2021 = rows_2021['Value'].isna().sum()
missing_value_count_2020 = rows_2020['Value'].isna().sum()
missing_value_count_2019 = rows_2019['Value'].isna().sum()
missing_value_count_2018 = rows_2018['Value'].isna().sum()
print(f"Number of rows where Value is NaN for Year 2024: {missing_value_count_2024}")
print(f"Number of rows where Value is NaN for Year 2023: {missing_value_count_2023}")
print(f"Number of rows where Value is NaN for Year 2022: {missing_value_count_2022}")
print(f"Number of rows where Value is NaN for Year 2021: {missing_value_count_2021}")
print(f"Number of rows where Value is NaN for Year 2020: {missing_value_count_2020}")
print(f"Number of rows where Value is NaN for Year 2019: {missing_value_count_2019}")
print(f"Number of rows where Value is NaN for Year 2018: {missing_value_count_2018}")

Number of rows where Value is NaN for Year 2024: 20790
Number of rows where Value is NaN for Year 2023: 9
Number of rows where Value is NaN for Year 2022: 9
Number of rows where Value is NaN for Year 2021: 21
Number of rows where Value is NaN for Year 2020: 15
Number of rows where Value is NaN for Year 2019: 21
Number of rows where Value is NaN for Year 2018: 21

In [6]:
# Drop rows with any missing values
long_df.dropna(inplace=True)
# Drop rows where Year is 2024
long_df = long_df[long_df['Year'] != '2024']
long_df

         geo geo_layer indic_to c_resid month  Year    Value
0         AT   Country     LSTY     DOM   M01  2018  23783.0
1        AT1      NUT1     LSTY     DOM   M01  2018   8096.0
2       AT11      NUT2     LSTY     DOM   M01  2018    239.0
3       AT12      NUT2     LSTY     DOM   M01  2018    790.0
4       AT13      NUT2     LSTY     DOM   M01  2018   7067.0
...      ...       ...      ...     ...   ...   ...      ...
166315   SK0      NUT1      STY     FOR   M12  2023  18620.0
166316  SK01      NUT2      STY     FOR   M12  2023   8896.0
166317  SK02      NUT2      STY     FOR   M12  2023   1296.0
166318  SK03      NUT2      STY     FOR   M12  2023   4891.0
166319  SK04      NUT2      STY     FOR   M12  2023   3537.0

[166224 rows x 7 columns]

In [7]:
#Summarize data by month, guest residence, or geo_layer
summary_df = long_df.groupby(['month', 'c_resid', 'indic_to', 'geo_layer','Year']).agg({
    'Value': 'sum',
}).reset_index()
#summary_file = 'processed_data.xlsx'
#summary_df.to_excel(summary_file, index=False)
summary_df

     month c_resid indic_to    geo_layer  Year      Value
0      M01     DOM     LSTY      Country  2018  2076982.0
1      M01     DOM     LSTY      Country  2019  2517764.0
2      M01     DOM     LSTY      Country  2020  3342210.0
3      M01     DOM     LSTY      Country  2021  2425589.0
4      M01     DOM     LSTY      Country  2022  4108208.0
...    ...     ...      ...          ...   ...        ...
1723   M12     FOR      STY  [EU27_2020]  2019  1563624.0
1724   M12     FOR      STY  [EU27_2020]  2020   171960.0
1725   M12     FOR      STY  [EU27_2020]  2021   893514.0
1726   M12     FOR      STY  [EU27_2020]  2022  1548701.0
1727   M12     FOR      STY  [EU27_2020]  2023  2006631.0

[1728 rows x 6 columns]

In [8]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np
# Function to preprocess data and train the model
def train_model(data):    
# Convert month to numerical format for modeling    
    data['month_num'] = data['month'].str.extract(r'M(\d+)').astype(int)    
# Select relevant features and target    
    X = data[['Year', 'month_num', 'geo_layer', 'indic_to', 'c_resid']].copy()    
    y = data['Value']    
# One-hot encode categorical variables    
    X = pd.get_dummies(X, columns=['geo_layer', 'indic_to', 'c_resid'], drop_first=True)    
# Split data into training and testing sets    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)    
# Train a Random Forest Regressor    
    model = RandomForestRegressor(n_estimators=100, random_state=42)    
    model.fit(X_train, y_train)    
# Evaluate the model    
    y_pred = model.predict(X_test)    
    mse = mean_squared_error(y_test, y_pred)    
    print(f"Model Mean Squared Error: {mse}")    
    return model, X

In [9]:
# Function to predict future trends
def predict_future_trends(model, historical_data, years_to_predict=3):    
    # Create a DataFrame for future predictions    
    last_year = historical_data['Year'].max()    
    future_years = list(range(last_year + 1, last_year + 1 + years_to_predict))    
    # Generate rows for each combination of future year and month    
    future_data = pd.DataFrame([(year, month) for year in future_years for month in range(1, 13)],                               
                               columns=['Year', 'month_num'])    
    # Add placeholders for categorical features    
    future_data['geo_layer'] = historical_data['geo_layer'].iloc[0]    
    future_data['indic_to'] = historical_data['indic_to'].iloc[0]    
    future_data['c_resid'] = historical_data['c_resid'].iloc[0]    
    # One-hot encode future data    
    future_data = pd.get_dummies(future_data, columns=['geo_layer', 'indic_to', 'c_resid'], drop_first=True)    
    # Align columns with training data    
    for col in model.feature_names_in_:        
        if col not in future_data.columns:            
            future_data[col] = 0    
            # Predict future trends    
            future_data['Predicted_Value'] = model.predict(future_data)    
            return future_data

In [19]:
import dash
from dash import dcc, html, Input, Output
import pandas as pd
import plotly.express as px

# Initialize the Dash app
app = dash.Dash(__name__)

# Make sure this DataFrame is defined and contains relevant data
# summary_df = pd.read_csv('your_data_here.csv')

# Sample layout for the app
app.layout = html.Div([
    dcc.Dropdown(id='geo_layer-dropdown', options=[
        {'label': geo, 'value': geo} for geo in summary_df['geo_layer'].unique()
    ], value='Country'),
    dcc.Dropdown(id='indic_to-dropdown', options=[
        {'label': indic, 'value': indic} for indic in summary_df['indic_to'].unique()
    ], value='LSTY'),
    dcc.Dropdown(id='c_resid-dropdown', options=[
        {'label': resid, 'value': resid} for resid in summary_df['c_resid'].unique()
    ], value='DOM'),
    dcc.Graph(id='prediction_chart')
])

@app.callback(
    Output('prediction_chart', 'figure'),
    [Input('geo_layer-dropdown', 'value'),
     Input('indic_to-dropdown', 'value'),
     Input('c_resid-dropdown', 'value')]
)
def update_prediction_chart(selected_geo_layer, selected_indic_to, selected_c_resid):
    # Filter data for training
    filtered_df = summary_df[
        (summary_df['geo_layer'] == selected_geo_layer) &
        (summary_df['indic_to'] == selected_indic_to) &
        (summary_df['c_resid'] == selected_c_resid)
    ].copy()

    # Check if filtered_df is empty
    if filtered_df.empty:
        return px.line(title="No data available for the selected filters.")

    try:
        # Ensure the train_model and predict_future_trends functions are defined
        model = train_model(filtered_df)  # Replace with your actual implementation
        
        # Assume predict_future_trends returns a DataFrame with 'month_num' and 'Predicted_Value'
        future_predictions = predict_future_trends(model, filtered_df)
        
        # Ensure 'month' is created correctly for future predictions
        if 'month_num' in future_predictions.columns:
            future_predictions['month'] = future_predictions['month_num'].apply(lambda x: f"M{int(x):02d}")
            future_predictions = future_predictions.rename(columns={'Predicted_Value': 'Value'})
            future_predictions['Type'] = 'Predicted'
        else:
            raise ValueError("Column 'month_num' not found in predictions.")

        # Prepare historical data for plotting
        historical_data = filtered_df[['Year', 'month', 'Value']].copy()
        historical_data['Type'] = 'Historical'

        # Concatenate historical and predicted data
        combined_data = pd.concat([historical_data, future_predictions], ignore_index=True)

        # Create a line chart
        fig = px.line(
            combined_data,
            x='month',
            y='Value',
            color='Type',
            line_group='Year',
            title=f"Predicted Trends for {selected_geo_layer}, {selected_indic_to}, {selected_c_resid}",
            labels={'Value': 'Accommodation Demand'}
        )

    except Exception as e:
        return px.line(title=f"Error: {str(e)}")

    return fig

if __name__ == '__main__':
    app.run_server(debug=True)

Model Mean Squared Error: 1067667743298.5035